#schedual-mng{
  .header{
      font-size: 20px;
      padding-left: 20px;
      margin-bottom: 15px;
  }
  /*日历控件样式*/
  #my_date {
    width: 100%;
    background: #fafafa;
    border-radius: 0.3em;
    border: 1px solid $grey2;
    p {
      height: 40px;
      line-height: 40px;
      position: relative;
      text-align: center;
      font-size: 1em;
      color: #666;
      border-bottom: 2px solid $grey1;
    }
    table {
      width: 100%;
      BORDER-COLLAPSE: collapse;
      border: solid #fafafa 1px;
      font-size: 0.8em;
      color: #666;
      thead{
        td {
          height: 30px;
          line-height: 30px;
          text-align: center;
        }
      }
      tbody td {
        background-color: #FFF;
        height: 40px;
        line-height: 40px;
        text-align: center;
        &:hover{
          cursor: pointer;
          transition-duration: 0.5s;
          background-color: lighten($blue,10);
          border-color: $blue;
          color: white     !important;
        }
      }
    }
  }

  #pre_date {
    position: absolute;
    left: 0px;
    top: 0;
    width: 40px;
    text-align: center;
    font-size: 1.6em;
    cursor: pointer;
  }

  #n_date {
    position: absolute;
    right: 0px;
    top: 0;
    width: 40px;
    text-align: center;
    font-size: 1.6em;
    cursor: pointer;
  }

  .time-head{
    margin-bottom: 15px;
  }
}

//日历弹出窗口
.schedual-mng-popStation{
  width: 700px;
  height: 200px;
  z-index: 10005;
  position: fixed;
  top:0;
  left: 50%;
  margin-left: -350px;
  margin-top: 200px;
  .popheader{
    height: 35px;
    background-color: #F8F8F8;
    border-radius: 2px 2px 0 0;
    line-height: 35px;
    .title{
      float: left;
      padding-left: 10px;
    }
    .close{
      float:right;
      padding-right: 10px;
      line-height: 30px;
    }
  }

  .popbody{
    //overflow: hidden;
    height: 250px;
    background-color: white;
    padding: 1px;
    table{
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }
  }

}